    .sub {
        color: red;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        text-shadow: 0mm;
    }
    
    .sin {
        float: left;
    }
    
    #btn {
        margin: 0 auto;
        text-align: center;
    }
    
    .ish {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(168, 168, 196);
        background-image: url("./hacker.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #hy,
    strong {
        color: red;
    }
    
    .the {
        background-color: black;
        text-align: center;
    }