    #ishan {
        background-color: aqua;
    }
    
    .sub {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        text-shadow: 0mm;
    }
    
    .sin {
        margin-right: 100px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 30px;
        border-top: 10px;
        border-width: 0cm;
        border-top-style: dotted;
        text-align: center;
        border-style: dashed;
        background-color: blue;
        font-family: Arial, Helvetica, sans-serif;
        padding: 30px;
        position: sticky;
    }
    
    #btn {
        margin: 0 auto;
        text-align: center;
        padding: 50px;
        box-shadow: 0ch;
    }